  body {
background-color: #fcf8ec;
  }
  hr {background-color: white; height: 0px; width: 5%;border-style: dotted none none; border-width: 5px; border-color: #d0e8f2;

  }
  h1 {color: #456268}
  h3 {color: #79a3b1}
